@import url(https://fonts.googleapis.com/css?family=Roboto);
$roboto: 'Roboto', sans-serif;

html, body {
	font-family: $roboto;
  	font-weight: normal;
  	background-color: $bgColor;
  	padding: 0;
   	margin: 0;
   	border: 0;
   	position: relative;
   	height: 100%;
}

h1{
	font-weight: bold;
	font-size: 40px;
}

table#dados{
	width: 100%;
	border-spacing: 0px;
}
table#dados tr th {
	font-size: 35px;
	font-weight: bold;
	height: 60px;
	padding: 10px;
	background-color: #F7a600;
} 
table#dados tr td {
	background: lighten(#646363, 10%);
	padding: 25px 50px 5px 10px;
	font-size: 25px;
	color: #FFFFFF;
} 
table#dados tr.alter td {
	background: lighten(#7c7b7b, 10%);
}

input[type=text]{   
    background: transparent; 
    border:2px solid #FFFFFF;
    border-right: 0!important;
    width:448px;
    padding: 15px 0px 15px 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

input[type=submit]{
	background: lighten(#646363, 10%);
    color:#F7a600;
    border:2px solid lighten(#646363, 10%);;
    width:180px;
    padding: 15px 0px 15px 10px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor:pointer;
}

input[type=file]{
	display: none;
}

#containerPai{ 
	background-color: lighten($padrao, 85%);
	width: 800px;
	margin: 0 auto;
	padding: 0;
	height: 100%;
}

#containerPrincipal{ 
	background-color: lighten($padrao, 85%);
	width: 800px;
	margin: 0 auto;
	padding: 0;
}

#divCentro{
	width: 80%;
	margin: 0 auto;
	padding-bottom: 100px;
}

#poison{
	width: 40px;
	height: 40px;	
}

.right {
	text-align: right !important;
}

.left {
	text-align: left !important;
}

.divCarregando
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999997;
	/* transparência compatível com os navegadores comuns.*/
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
	background: black;
	text-align: center;
}
#imgCarregando{
	margin: 0 auto;
	top: 400px;
	position: relative;
}

#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}
#menu ul li { display: inline;}
#menu ul li a {
    width: 170px;    
    padding: 30px 47px 30px 47px;
    display: inline-block;
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    font-weight: bold;
}
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #F7a600;
}